.new-collections{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    align-items: center;
    gap: 2vh;
    height: auto;
    margin-bottom: 7vh;
    margin-top: 7vh;
}
.new-collections h1{
    color: 171717;
    font-size: 7vh;
    font-weight: 600;
}
.new-collections hr{
    width: 25vw;
    height: 1vh;
    border-radius: 10px;
    background: #171717;
}
.collections{
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-left: 3vw;
    flex-wrap: wrap;
}
.collections img{
    width: 43vh;
    height: 60vh;
    object-fit: cover;
}