.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f5dfc6;
    align-items: center;
    gap: 2vw;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.footer-logo p{
    color:black;
    font-size: 6vh;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 3vw;
    color: black;
    font-size: 2vh;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 2vw;
}
.footer-icons-container{
    padding: 6px;
    padding-bottom: 6px;
    background: #fbfdfc;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    width: 100%;
    margin-bottom: 2vh;
    color: black;
    font-size: 2.5vh;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 0.8vh;
    background: #c86203;
}