.Popular{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #ffa1de, #d1fff0);
    align-items: center;
    gap: 10px;
    height: 100vh;
    margin-bottom: 7vh;
    margin-top:7vh;
    height: auto;
    
}
.Popular h1{
    color: 171717;
    font-size: 45px;
    font-weight: 600;
}
.Popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #171717;
}
.popular-items{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-left: 3vw;
    flex-wrap: wrap;
    


}